#card img{
  transform: translateY(-60px);
}

#card:hover img{
  transform: translateY(-20px);
  opacity: .5;
  transition-duration: 2s;
}

.img-container i{
  opacity: 0.0;
  font-size: 30px;
  margin-bottom: 15px;
}

.row-one{
  transform: translate(20px,-150px);
}

.row-two{
  transform: translate(20px,-200px);
}

.row-three{
  transform: translate(20px,-200px);
}

#card:hover i{
  transition-duration: 2s;
  opacity: 1.0;
}