:root{
    --big-section: #659DBD;
    --header: #8D8741;
    --aside: #BC986A;
    --textback: #FBEEC1;
}

header{
    background-color: var(--header);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    background-color: var(--textback);
    padding-top: 4px;
    padding-bottom: 48px;
    padding-left: 12px;
    padding-right: 4px;
    transform: translateY(36px);
}

nav {
    transform: translateY(36px);
}

header nav li{
    font-size: 24px;
    margin: 4px 32px;
    display: inline;
    list-style-type: none;
    background-color: var(--textback);
    padding-left: 12px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 16px;
}

a:link a:visited{
    color: black;
}

a:visited{
    color: black;
}

body{
    background-color: var(--big-section);
    margin: 0;
    display: flex;
    flex-direction: column;
}

figure{
    margin: 0px;
    display: block;
}

figure h2{
    transform: translate(1000px,-75px);
    background-color: var(--textback);
    padding-bottom: 40px;
    width: 440px;
}

section{
    border: solid 4px black;
    padding: 80px;
}

section h2{
    text-align: right;
    padding-bottom: 300px;
}

.right p{
    border: solid 4px black;
    flex: 2;
    width: 400px;
}

.backg{
    width: 1440px;
    height: 400px;
}

main{
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
}