@import url("http://yui.yahooapis.com/pure/0.5.0/pure-min.css");
/* Root for colors */

:root{
    --big-section: #659DBD;
    --header: #8D8741;
    --aside: #BC986A;
    --textback: #FBEEC1;
    --other: #DAAD86;
    --text: white;
}

/* header element */
#header{
    background-color: var(--header);
    display: flex;
    align-items: center;
}

body{
    background-color: var(--other);
}

.pure-menu-link{
   color: black;
   float: right;
}

nav{
    display: flex;
    display: inline-flex;
}

/* text inside of the header */
#title{
    background-color: var(--textback);

}

.backg{
    width: 100%;
    height: 500px;
}

.pure-u-3-5{
    border-Left: solid 6px black;
    padding-left: 20px;
    margin-top: 20px;
}

.pure-u-1-5{
    text-align: right;
    margin-right: 20px;
    z-index: 2;
}

.profPic{
    transform: translateY(-300px);
}

section{
    transform: translateY(-300px);
}

.pure-u-1-2 img{
    margin-right: 12px;
}

.pure-u-3-5 img:hover{
   opacity: 50%; 
   border: solid 4px black;
   transition: initial .3s;
}